{% extends 'account/base.html.twig' %}
{% block content %}
    <div class="container grower_page" style="max-width: 600px;">
        <h1 class="mb-4">Page Producteur</h1>

        {% if has_flash('credentials') %}
            <div class="alert alert-danger">
                {{ retrieve_flash('credentials') }}
            </div>
        {% endif %}
        {% if has_flash('auth') %}
            <div class="alert alert-danger">
                {{ retrieve_flash('auth') }}
            </div>
        {% endif %}

        <div class="grower_products">
            <h3 class="grower_products-title">Mes produits</h3>

            <div class="grower_products-list">
                {% for product in products %}
                    <div class="product">

                        <div class="product">
                            <div class="product-card">
                                <p class="product-title">{{ product.name }}</p>
                                <p class="product-description">{{ product.description }}</p>
                                <p class="product-price">{{ product.unit_price }} €</p>
                                <button class="product-btn">Editer</button>
                                <img src="https://via.placeholder.com/200/088e8f/ffffff" class="product-img" alt="produit">
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="grower_orders">

        </div>

    </div>
{% endblock %}