{% extends 'account/base.html.twig' %}
{% block content %}
    <div class="container grower_page" style="max-width: 600px;">
        <h1 class="mb-4">Page Producteur</h1>
        <h2 class="">{{grower_infos.name}}</h2>
        <p class="">{{grower_infos.location}}</p>
        <p class="">{{grower_infos.email}}</p>
        <a href="#" class="btn btn-success">modifier mon profil</a>

        {% if has_flash('credentials') %}
            <div class="alert alert-danger">
                {{ retrieve_flash('credentials') }}
            </div>
        {% endif %}
        {% if has_flash('auth') %}
            <div class="alert alert-danger">
                {{ retrieve_flash('auth') }}
            </div>
        {% endif %}

        <div class="grower_products">
            <h3 class="grower_products-title">Mes produits</h3>

            <div class="grower_products-list">
                {% for product in products %}
                    <div class="product">
                            <div class="product-card">
                                <p class="product-title">{{ product.name }}</p>
                                <p class="product-description">{{ product.description }}</p>
                                <p class="product-price">{{ product.unit_price }} €</p>
                                <a href="/grower/myPage/{{grower_infos.id}}/product/{{product.id}}/edit" class="product-btn">Editer</a>
                                <img src="{{product.image}}" class="product-img" alt="produit">
                            </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="grower_orders">
            <h3 class="grower_orders-title">Mes Commandes</h3>

            <div class="grower_orders-list">
                {% for idproductsQt in listProducts %}
                    <div class="order">
                        <div class="order_products-list">
                            {% for prod in productsQt %}
                            {% for key, item in prod %}
                                {% if key == 0 %}
                                    <div class="order-products">
                                    <img src="https://via.placeholder.com/200/088e8f/ffffff" class="product-img" alt="produit">
                                    <div class="product_details">
                                    <p class="product_name">{{ item.name }}</p>
                                    <p class="product_description">{{ item.description }}</p>
                                {% elseif key == 1 %}
                                    </div>
                                    <div class="products-quantity">
                                        <p class="product_quantity">{{ item }}</p>
                                    </div>
                                {% endif %}
                                    </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="order_buttons">
                            <button class="order_btn-accept">Accepter</button>
                            <button class="order_btn-decline">Refuser</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}