{% extends 'account/base.html.twig' %}
{% block content %}
    <div class="container grower_page" style="max-width: 600px;">
        <h1 class="mb-4">Page Producteur</h1>

        <div class="grower_products">
            <h3 class="grower_products-title">Mon produit</h3>

            <div class="grower_products-list">
                <div class="product">

                    <div class="product">
                        <div class="product-card">
                            <form action="" method="post">
                                <label><input name="name" class="product-title" value="{{ product.name }}"></label>
                                <label><input name="description" class="product-description" value="{{ product.description }}"></label>
                                <label><input name="price" class="product-price" value="{{ product.unit_price }}"></label>
                                <label><input name="image" value="{{ product.image }}"></label>
                                <img src="{{ product.image }}" class="product-img" alt="produit">
                                <button>Valider mes modifications</button>
                            </form>
                        </div>
                    </div>

                    <a href="/grower/myPage/{{ grower_id }}/product/{{ product.id }}/delete">supprimer le produit</a>

                </div>
            </div>

        </div>

    </div>
{% endblock %}