{% extends './base.html.twig' %}
{% block content %}
    {% include 'partials/flash.html.twig' %}
    <div class="sort-container">
        {% include 'products/search_bar.html.twig' %}
        {% include 'products/filter.html.twig' %}
    </div>

    <div class="product-container">
            {% for product in products %}
                <div class="product">
                    <form method="post" action="/products/addToCart/{{ product.id }}" id="{{ product.id }}">
                    <img src="https://via.placeholder.com/200/088e8f/ffffff" class="product-img" alt="produit">
                    <div class="product-card">
                        <p class="product-title"><a href="/detailedProduct/{{ product.id }}">{{ product.name }}</a></p>
                        <p class="product-grower"><a href="/detailedGrower/{{ product.id_grower }}">Producteur</a></p>
                        <p class="product-description">{{ product.description }}</p>
                        <p class="product-price">{{ product.unit_price }} €</p>
                        <input class="btn-add-quantity" type="button" onclick="incrementValue()" value="+" />
                        <input type="text" id="number" name="quantity" value="1"size="1"/>
                        <input class="btn-remove-quantity" type="button" onclick="decrementValue()" value="-" />
                        <input type="submit" value="Ajouter au panier" class="product-btn">
                    </div>
                    </form>
                </div>
            {% endfor %}
    </div>

    <script src="/js/products.js" type="application/javascript" async></script>
{% endblock %}