{% extends './base.html.twig' %}
{% block content %}
    <div class="page-title">
        <h1>Liste de produits</h1>
    </div>

    <div class="sort_container">
        {% include 'products/search_bar.html.twig' %}
        {% include 'products/filter.html.twig' %}
    </div>

    <div class="product-container">
            {% for product in products %}
                <div class="product">
                    <form method="post" action="/products/addToCart/{{ product.id }}" id="{{ product.id }}">
                    <img src="https://via.placeholder.com/200" class="product-img" alt="produit">
                    <div class="product-card">
                        <h5 class="product-title">{{ product.name }}</h5>
                        <p class="product-description">{{ product.description }}</p>
                        <p class="product-price">{{ product.unit_price }} €</p>
                        <input type="submit" value="Ajouter au panier" class="btn">
                    </div>
                    </form>
                </div>
            {% endfor %}
    </div>

    <script src="/js/products.js" type="application/javascript" async></script>
{% endblock %}