{% extends './base.html.twig' %}
{% block content %}
  <div class="page-title">
    <h1>
      Mon panier
    </h1>
  </div>

<div class="cart-summary">
    <div class="cart-orders">
      <div class="cart-container">
    {% for product in products %}
      <div class="cart-product">
          <img src="https://via.placeholder.com/100" class="product-img" alt="produit" />
          <div class="product-card">
            <h5 class="product-title">
              {{ product[0].name }}
            </h5>
            <p class="cart-description">
              {{ product[0].description }}
            </p>
            <p class="cart-price">
                {{ product[0].unit_price }} €
            </p>
            <div class="cart-quantity">
                <a class="btn-add-quantity" href="/products/addToCart/{{product[0].id}}/addOne">+</a>
                <p>{{ product[1] }}</p>
                <a class="btn-remove-quantity" href="/products/addToCart/{{product[0].id}}/removeOne"> -</a>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
  </div>
    <div class="div2"> 

    </div>
    <div class="div3"> </div>
    <div class="div4"> </div>
</div>

{% endblock %}
