{% extends './base.html.twig' %}
{% block content %}
    {% include 'partials/flash.html.twig' %}
    <header class="home-img">
        <img src="ressources/home-picture_1.jpeg">
        <p class="text-centered">L'endroit de vos produits frais et bon marché.</p>
    </header>
    <main class="product-container">
        {% for product in products %}
            <div class="product">
                <form method="post" action="/products/addToCart/{{ product.id }}" id="{{ product.id }}">
                    <img src="{{ product.image }}" class="product-img" alt="produit" width="200px" height="200px">
                    <div class="product-card">
                        <h5 class="product-title"><a href="/detailedProduct/{{ product.id }}">{{ product.name }}</a></h5>
                        <p class="product-grower"><a href="/detailedGrower/{{ product.id_grower }}">Producteur</a></p>
                        <p class="product-description">{{ product.description }}</p>
                        <input class="btn-add-quantity" id="{{ product.id }}" type="button" onclick="incrementValue('{{ product.id }}')" value="+"/>
                        <input type="text" id="number{{ product.id }}" name="quantity" value="1" size="1"/>
                        <input class="btn-remove-quantity" id="button-remove" type="button" onclick="decrementValue('{{ product.id }}')" value="-"/>
                        <input type="submit" value="Ajouter au panier" class="product-btn">
                    </div>
                </form>
            </div>
        {% endfor %}
    </main>
    <section class="home-section">
        <a class="btn" href="/products">Consulter le catalogue complet</a>
    </section>
    <section class="testimony-container">
        <article class="testimony-card">
            <img src="ressources/home-picture-testimony_1.jpeg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        <article class="testimony-card">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <img src="ressources/home-picture-testimony_2.jpeg">
        </article>
        <article class="testimony-card">
            <img src="ressources/home-picture-testimony_3.jpeg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
    </section>
    {% include 'footer.html.twig' %}
    <script src="/js/products.js" type="application/javascript" async></script>
{% endblock %}