{% extends './base.html.twig' %}
{% block content %}
    {% include 'partials/flash.html.twig' %}
    <header class="home-img">
        <img src="ressources/home-picture_1.jpeg" alt="home-picture">
        <p class="text-centered">L'endroit de vos produits frais et bon marché.</p>
    </header>
    <main class="product-container">
        {% for product in products %}
            <div class="product">
                <form method="post" action="/products/addToCart/{{ product.id }}" id="{{ product.id }}">
                    <img src="{{ product.image }}" class="product-img" alt="produit" width="200px" height="200px">
                    <div class="product-card">
                        <p class="product-title"><a href="/detailedProduct/{{ product.id }}">{{ product.name }}</a></p>
                        <p class="product-grower"><a href="/detailedGrower/{{ product.id_grower }}">Producteur</a></p>
                        <p class="product-description">{{ product.description }}</p>
                        <p class="product-price">{{ product.unit_price }} €</p>
                        <div class="btn-container-quantity">
                            <input class="btn-add-quantity" id="{{ product.id }}" type="button" onclick="incrementValue('{{ product.id }}')" value="+"/>
                            <label for="number{{ product.id }}"></label><input type="text" id="number{{ product.id }}" name="quantity" value="1" size="1"/>
                            <input class="btn-remove-quantity" id="button-remove" type="button" onclick="decrementValue('{{ product.id }}')" value="-"/>
                        </div>
                        <input type="submit" value="Ajouter au panier" class="product-btn">
                    </div>
                </form>
            </div>
        {% endfor %}
    </main>
    <section class="home-section">
        <a class="btn" href="/products">Consulter le catalogue complet</a>
    </section>

    {% include 'footer.html.twig' %}
    <script src="/js/products.js" type="application/javascript" async></script>
{% endblock %}