{% extends './base.html.twig' %}
{% block content %}
    <div class="page-title">
        <h1>Liste de produits</h1>
    </div>

    <div class="sort_container">
        <div class="search_container">
            <h4 class="search_title">Rechercher</h4>

            <div class="search_bare">
                <img class="search_icon" src="/ressources/search_icon.png" alt="search">
                <input class="search_input" type="text" >
            </div>
        </div>

        <div class="filter_container">
            <h4 class="filter_title">Filtrer</h4>

            <div class="category_container">
                {% for val in category %}

                    {% if category_active is defined %}
                        {% if val.id == category_active %}
                            <form action="/products" method="get" class="category-active">
                                <input class="category_name" type="submit" class="btn-filter" value="{{ val.name }}">
                            </form>
                        {% else %}
                            <form action="/products/category/{{ val.id }}" method="get" class="category">
                                <input class="category_name" type="submit" class="btn-filter" value="{{ val.name }}">
                            </form>
                        {% endif %}

                    {% else %}

                        <form action="/products/category/{{ val.id }}" method="get" class="category">
                            <input class="category_name" type="submit" class="btn-filter" value="{{ val.name }}">
                        </form>

                    {% endif %}

                {% endfor %}
            </div>
        </div>

    </div>

    <div class="product-container">
            {% for product in products %}
                <div class="product">
                    <form method="post" action="/products/addToCart/{{ product.id }}" id="{{ product.id }}">
                    <img src="https://via.placeholder.com/200" class="product-img" alt="produit">
                    <div class="product-card">
                        <h5 class="product-title">{{ product.name }}</h5>
                        <p class="product-description">{{ product.description }}</p>
                        <p class="product-price">{{ product.unit_price }} €</p>
                        <input type="submit" value="Add to cart" class="btn">
                    </div>
                    </form>
                </div>
            {% endfor %}
    </div>

    <script src="/js/products.js" type="application/javascript" async></script>
{% endblock %}