{% extends './base.html.twig' %}
{% block content %}
    <div class="page-title">
        <h1>Liste des producteurs</h1>
    </div>

    <div class="sort-container">
        {% include 'grower/search_bar.html.twig' %}
    </div>

    <div class="grower-container">
        {% for grower in growers %}
            <div class="grower">
                    <img src="https://via.placeholder.com/200" class="grower-img" alt="grower">
                    <div class="grower-card">
                        <h5 class="grower-name"><a href="/detailedGrower/{{ grower.id }}">{{ grower.name }}</a></h5>
                        <p class="grower-location">{{ grower.location }}</p>
                        <p class="grower-email">{{ grower.email }}</p>
                        <form method="get" action="detailedGrower/{{ grower.id }}" id="{{ grower.id }}">
                            <input type="submit" value="Visiter le profil" class="btn">
                        </form>
                    </div>
            </div>
        {% endfor %}
    </div>

    <script src="/js/growers.js" type="application/javascript" async></script>
{% endblock %}